<h1>Ravencoin Wallet Info</h1>
<p>Account Name = Blank</p>
<p>Account Addresses:
   <ol>
   <% @get_account_addresses.each do |address| %>
    <li><%= address %></li>
   <% end %>
  </ol>
</p>
<%# <p>New Unused Address = <%= @new_rvn_address %></p> %>
<p>Total Account Balance (RVN)= <%= @rvn_wallet_info %></p>
<p>Total Assets: 
  <ol>
    <% @list_my_assets.each do |asset| %>
      <li><%= "#{asset[0]} : #{asset[1]}" %></li>
    <% end %>
  </ol>
</p>
<br>
<br>
<h1>Ravencoin Network Info:</h1>
<h3>Ravencoin Blockchain Info:</h3>
<ul>
  <li>Block Height = <%= @rvn_blockchain_info["blocks"] %></li>
  <li>Difficulty Algo = <%= @rvn_blockchain_info["difficulty_algorithm"] %></li>
  <li>Network Difficulty = <%= @rvn_blockchain_info["difficulty"] %></li>
  <li>Size On Disk = <%= @rvn_blockchain_info["size_on_disk"] %></li>
</ul>
<br>
<br>
<h3>Ravencoin Mining Info:</h3>
<ul>
  <li>Blocks = <%= @rvn_mining_info["blocks"] %></li>
  <li>Current Block Transactions = <%= @rvn_mining_info["currentblocktx"] %></li>
  <li>Difficulty = <%= @rvn_mining_info["difficulty"] %></li>
  <li>Pooled Txns = <%= @rvn_mining_info["pooledtx"] %></li>
</ul>
<br>
<br>
<h3>Ravencoin Mem Pool Info:</h3>
<ul>
  <li>Size = <%= @rvn_mempool_info["size"] %></li>
  <li>Transaction size  = <%= @rvn_mempool_info["bytes"].to_f/1000000 %> MB, <%= @rvn_mempool_info["bytes"] %> Bytes</li>
  <li>Total memory usage  = <%= @rvn_mempool_info["usage"].to_f/1000000 %> MB, <%= @rvn_mempool_info["usage"] %> Bytes</li>
  <li>Maximum memory usage for the mempool = <%= @rvn_mempool_info["maxmempool"].to_f/1000000 %> MB, <%= @rvn_mempool_info["maxmempool"] %> Bytes</li>
  <li>The lowest fee per kilobyte paid by any transaction in the memory pool = <%= @rvn_mempool_info["mempoolminfee"] %> RVN</li>
</ul>
<br>
<br>

