<div class="row col-md-12">
  <h1>Ravencoin Wallet Info</h1>
  <p>Account Name = Blank</p>
  <div class="col-md-5">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Account Addresses</h3>
      </div>
      <div class="panel-body">
        <ol>
          <% @get_account_addresses.each do |address| %>
            <li>
              <%= address %>
            </li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row">

      <div class="col-md-12">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Total Account Balance (RVN)</h3>
          </div>
          <div class="panel-body">
            <p><%= @rvn_wallet_info %></p>
            <form id="sendRaven" action="/sendRaven" method="post">
              <div class="form-group">
                <input type="text" class="form-control" id="receipient" placeholder="Address To Send To" name="receipient" value="">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" id="ammount" placeholder="Number of assets to send" name="ammount" value="">
              </div>
              <button class="btn btn-info" type="submit" name="button">Send</button>
            </form>
          </div>
        </div>

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Assets Owned</h3>
          </div>
          <div class="panel-body">
            <ol>
              <% if @list_my_assets %>
                <% @list_my_assets.each do |asset| %>
                  <li>
                    <%= "#{asset[0]} : #{asset[1]}" %>
                  </li>
                <% end %>
              <% end %>
            </ol>
          </div>
        </div>

        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">Send Assets</h3>
          </div>
          <div class="panel-body">
            <form id="sendAsset" action="/sendAsset" method="post">
              <div class="form-group">
                <select class="form-control" id="assetName" name="assetName">
                  <% if @list_my_assets %>
                    <% @list_my_assets.each do |asset| %>
                      <option value="<%=asset[0]%>">
                        <%= asset[0] %>
                      </option>
                    <% end %>
                  <% end %>
                </select>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" id="receipient" placeholder="Address To Send To" name="receipient" value="">
              </div>
              <div class="form-group">
                <input type="number" class="form-control" id="ammount" placeholder="Number of assets to send" name="ammount" value="">
              </div>
              <button type="submit" class="btn btn-info" name="button">Send Asset</button>

            </form>
          </div>
        </div>

      </div>

    </div>
    <div class="row">

      <div class="col-md-6">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Blockchain Data</h3>
          </div>
          <div class="panel-body">
            <p>Block Height =
              <%= @rvn_blockchain_info["blocks"] %>
            </p>
            <p>Difficulty Algo =
              <%= @rvn_blockchain_info["difficulty_algorithm"] %>
            </p>
            <p>Network Difficulty =
              <%= @rvn_blockchain_info["difficulty"] %>
            </p>
            <p>Size On Disk =
              <%= @rvn_blockchain_info["size_on_disk"] %>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-6">

        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="panel-title">Memory Pool Status</h3>
          </div>
          <div class="panel-body">
            <p>Size =
              <%= @rvn_mempool_info["size"] %>
            </p>
            <p>Transaction size =
              <%= @rvn_mempool_info["bytes"].to_f/1000000 %>
              MB,
              <%= @rvn_mempool_info["bytes"] %>
              Bytes</p>
            <p>Total memory usage =
              <%= @rvn_mempool_info["usage"].to_f/1000000 %>
              MB,
              <%= @rvn_mempool_info["usage"] %>
              Bytes</p>
            <p>Maximum memory usage for the mempool =
              <%= @rvn_mempool_info["maxmempool"].to_f/1000000 %>
              MB,
              <%= @rvn_mempool_info["maxmempool"] %>
              Bytes</p>
            <p>The lowest fee per kilobyte paid by any transaction in the memory pool =
              <%= @rvn_mempool_info["mempoolminfee"] %>
              RVN</p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
